### A Study of Energy Sources used for Global Electricity Production

#### Executive Summary

There has been a worldwide movement in recent years to adopt more renewable energy sources in order to mitigate the impacts of global warming.  Calls are being made to increase the use of renewable energy for the generation of electricity by moving away from fossil fuels.

Power is produced by converting some other form of energy from its raw form into electricity.  These raw sources can be renewable energy such as hydro, solar, wind, and biofuels or nonrenewable energy such as coal, oil, natural gas, and nuclear.

Currently humanity worldwide is overly dependent on the burning of fossil fuels for the generation of electricity.  Despite the good intentions of implementing the use of renewables, the reality is that we will need to remain critically dependent on fossil fuels for many years to come.

This visualization is used to show the overwhelming reliance humans have on fossil fuels for the generation of electricity and the sobering reality of how much society needs to change in order to completely move away from their use.

#### Initializing Python Packages

In [43]:

import pandas as pd
import altair as alt

#### Dataset Import & Transform

The “Data on Energy” dataset was selected from the "Our World in Data" github repository (https://github.com/owid/energy-data).  This dataset contains a robust amount of information of energy producton and consumption.

A subset of the data was taken from 1965 to 2018 focusing on the types of energy which are used to create electricity for each continent.  The "energy-data.csv" and "continents.csv" contains the raw data from the Our World in Data repository.  This dataset was quickly cleaned up externally using a Knime workflow to produce the "energy.csv" file.  This "energy" dataset will be used to study how electricity is produced globally.

*Knime Workflow:*

![test](./workflow.svg)

In [62]:
# Importing Dataframe & evaluating dimensions
energy = pd.read_csv("../data/energy.csv")

print(f'Dataframe Dimensions:')
print(f'-------------------')
print(f'Columns:         {energy.shape[1]}')
print(f'Rows:           {energy.shape[0]}')
print(f'Observations:  {energy.size}')

Dataframe Dimensions:
-------------------
Columns:         13
Rows:           324
Observations:  4212

In [65]:
# Creating new columns
energy['Renewables (TWh)'] = energy['Biofuel (TWh)'] + energy['Hydro (TWh)'] + energy['Other Renewable (TWh)'] + energy['Solar (TWh)'] + energy['Wind (TWh)']
energy['Non-Renewables (TWh)'] = energy['Coal (TWh)'] + energy['Nuclear (TWh)'] + energy['Oil (TWh)'] + energy['Natural Gas (TWh)']
energy['GDP per capita'] = energy['GDP ($)'] / energy['Population']
energy

,Year,Continent,Biofuel (TWh),Coal (TWh),Natural Gas (TWh),Hydro (TWh),Nuclear (TWh),Oil (TWh),Other Renewable (TWh),Solar (TWh),Wind (TWh),Population,GDP ($),Renewables (TWh),Non-Renewables (TWh),GDP per capita
0,1965,Africa,NaN,NaN,NaN,3.382,0.00,NaN,NaN,0.00,0.00,217004448,467523374071,NaN,NaN,2154.441434
1,1966,Africa,NaN,NaN,NaN,3.270,0.00,NaN,NaN,0.00,0.00,222484248,477387315747,NaN,NaN,2145.712876
2,1967,Africa,NaN,NaN,NaN,3.335,0.00,NaN,NaN,0.00,0.00,228103883,484779771596,NaN,NaN,2125.258743
3,1968,Africa,NaN,NaN,NaN,4.646,0.00,NaN,NaN,0.00,0.00,233886377,508462028666,NaN,NaN,2173.970264
4,1969,Africa,NaN,NaN,NaN,5.741,0.00,NaN,NaN,0.00,0.00,239862748,553104580527,NaN,NaN,2305.921137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,2014,South America,56.44,48.47,219.32,636.750,19.72,96.79,0.00,0.82,15.52,408493800,6223611926995,709.53,384.30,15235.511352
320,2015,South America,58.74,52.19,233.36,636.930,20.41,96.79,0.00,1.71,27.29,412362690,6391625133915,724.67,402.75,15500.008340
321,2016,South America,59.78,52.19,217.07,653.650,22.65,79.47,0.00,3.21,40.81,416164870,5922122056469,757.45,371.38,14230.230573
322,2017,South America,60.59,49.39,222.24,659.150,20.57,66.32,0.06,5.39,51.57,419903920,5944422958512,776.76,358.52,14156.626493
323,2018,South America,60.43,48.14,217.37,676.950,22.12,57.81,0.21,10.12,59.98,423581091,5941320993436,807.69,345.44,14026.407504